<div class="text-center">
    <div class="wrapper">
        <h2 class="m-3">Se registrar em BP_login</h2>

        <form>
            <div>
                <h4 class="d-flex p-0">
                    Login:
                    <input class="form-control registroInput" type="text" id="login" />
                </h4>
            </div>

            <div>
                <h4 class="d-flex p-0">
                    Nome:
                    <input class="form-control registroInput" type="text" id="nome" />
                </h4>
            </div>

            <div>
                <h4 class="d-flex p-0">
                    Data de Aniversário:
                    <input class="form-control registroInput" type="date" id="dtAniversario" />
                </h4>
            </div>

            <div>
                <h4 class="d-flex p-0">
                    Senha:
                    <input class="form-control registroInput" type="password" id="senha" />
                </h4>
            </div>

            <div>
                <h4 class="d-flex p-0">
                    Confirmar senha:
                    <input class="form-control registroInput" type="password" id="confirmaSenha" />
                </h4>
            </div>

            <button class="btn btn-outline-success" onclick="registraUsuario()" type="submit">Se inscrever</button>
        </form>

    </div>
</div>